window {
    background-color: rgba(0,0,0,0);
}

.tuxclock {
    .time{
	font-size: 80pt;
	font-family: freeSerif;
	font-weight: bold;
    }
    padding: 50;

}

.bar {
    font-family: "velvelyne";
    font-size: 14pt;

    background-color: #1F1F28;

    .left, .right{
	>* {
	    border-radius: 10;
	    padding: 0;
	}}

    padding: 15 0;
}

.workspaces {
    .workspace-btn {
	border: solid 3 #54546D;

	background: transparent;
	border-radius: 10;
    }

    .active {
	background-color: #C8C093;
	border: none;
    }

    .used {
	border-color: #C8C093;
    }
}

.volume-button {
    border-radius: 10;
    background: transparent;
}

.volume-icon {
    border: none;
    color: #C8C093;
}

.volbar {
    border: none;
    padding: 20 0 10 0;
}
