window {
  background-color: rgba(0,0,0,0);
}

.tuxclock {
  .time{
    font-size: 80pt;
    font-family: freeserif;
    font-weight: bold;
  }
}

.bar {
  font-family:"velvelyne";
  font-size: 14pt;


  .left, .right{
      >* {
	  background-color: #1F1F28;
	  padding: 10 20; 
	  border-radius: 15;
      }
  }

  background-color:transparent;
  padding: 0 10 10 10;
}

.workspaces {
    .workspace-btn {
	background: transparent;

	border: solid 3 #C8C093;

	padding: 0;

	border-radius: 100;
    }
    .active {
	background-color: #C8C093;
    }
}
