window {
    background-color: rgba(0,0,0,0);
}

.tuxclock {
    .time{
	font-size: 80pt;
	font-family: freeSerif;
	font-weight: bold;
    }
    padding: 50;

}

.bar {
    font-family: "velvelyne";
    font-size: 14pt;


    .left, .right{
	>* {
	    background-color: #1F1F28;
	    padding: 0 10; 
	    border-radius: 10 10 0 0 ;
	}}

    background-color:transparent;
    padding: 0 20;
}

.workspaces {
    .workspace-btn {
	border: solid 3 #54546D;

	background: transparent;
	border-radius: 10;
    }

    .active {
	background-color: #C8C093;
	border-color: #C8C093;
    }

    .used {
	border-color: #C8C093;
    }
}

.volume-button {
    border-radius: 10 10 0 0;
    background: transparent;
}

.volume-icon {
    color: #C8C093;
}

.volbar {
    padding: 0 15;
    
}
.time-date {
    padding: 0 10;

    button {
	background: none;
	padding: 0 5 0 0;
    }
}
